<div class="user">
  <div class="user__inner">
    <div class="user__title">トレーニングの作成</div>
    <%= render "form", form: @training %>
    <div class="btn-box-back">
      <button class="back-btn">
        <%= link_to "戻る", users_path %>
      </button>
    </div>
  </div>
</div>