.page-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 1px 1px 0 #c9c9c9, 2px 2px 0 #c9c9c9, 3px 3px 0 #c9c9c9;
  margin-top: 5%;
}

.content-inner  {
  padding: 3%;
}

.content-cover {
  background-color:rgba(200, 200, 200, 0.4);
}

//------ここまでがリファクタリング---------//

.training {
  padding-top: 50px;
  margin: 0;
  
  &__inner {
    @extend .content-inner;
  }

  &__title {
    @extend .page-title;
    margin-bottom: 3%;
  }
}



.training-form {
  @extend .content-cover;
  margin-bottom: 5%;
  margin-top: 5%;

  &__inner {
    @extend .content-inner;
  }
}

.training-day {
  margin-bottom: 8%;
  width: 100%;
  &__title {
    @extend .page-title;
    margin: 2% 0;
    font-size: 1.2rem;
    text-align: left;
  }
}

#training_day {
  border: 1px solid #111;
}

.training-user {
  margin-bottom: 15%;
  & p {
    @extend .page-title;
    margin: 2% 0;
    font-size: 1.2rem;
    text-align: left;
  }

  & select {
    width: 35%;
    font-size: 20px;
  }
}

#training_user_id {
  border: 1px solid #111;
}

.menu-title {
  @extend .page-title;
  font-size: 1.4rem;
  margin-bottom: 8%;
  text-align: left;
}

.training-weight-title {
  @extend .page-title;
  display: block;
  font-size: 100%;
  text-align: left;
}

.training-weight-box {
  display: block;
  width: 80%;
}

.training-number-title {
  @extend .page-title;
  display: block;
  text-align: left;
  font-size: 100%;
}

.training-number-box {
  display: block;
  width: 80%;
}

.icon-box {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 65px 10px 0;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__link {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
  }
}

.icon-box-plus {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 5% 0 10% 0;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__link {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
  }
}



.nested-fields {
  display: flex;
  margin-top: 5%;
}