.training {
  padding-top: 50px;
  margin: 0;
  
  &__inner {
    padding: 3%;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 1px 0 #c9c9c9, 2px 2px 0 #c9c9c9, 3px 3px 0 #c9c9c9;
    margin-top: 5%;
    margin-bottom: 3%;
  }
}