
.btn-box {
  width: 100%;
  text-align: center;
}

.action-btn{
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: #111;
  font-size: 90%;
  width: 50%;
  margin-top: 10px;
  padding: 5px 60px 5px 30px;
  transition: all 0.2s linear;
  border: #111 2px solid;
  border-radius: 100px;

  & a {
    display: block;
    text-decoration: none;
    color: #111;
    text-shadow: 1px 1px 0 #c9c9c9, 1px 1px 0 #c9c9c9;
  }

  &:hover {
    background-color: rgba(240, 240, 240, 0.8);
    border-color: gray;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    width: 25px;
    right: 20px;
    background-color: #111;
    transition: all 0.2s linear;
  }
  &:hover::before {
    right: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 40%;
    right: 15px;
    border: 4px solid transparent;
    border-left-color:#111;
    border-top-width: 4px;
    border-bottom-width: 4px;
    transition: all 0.2s linear;
  }
  &:hover::after {
    right: 0px;
    opacity: 0;
  }
}

.form-btn{
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: #111;
  font-size: 90%;
  width: 50%;
  margin-top: 10px;
  padding: 5px 0;
  color: #111;
  border: #111 2px solid;
  border-radius: 100px;
  text-shadow: 1px 1px 0 #c9c9c9, 1px 1px 0 #c9c9c9;

  &:hover {
    background-color: rgba(240, 240, 240, 0.8);
    border-color: gray;
  }
}

.btn-box-back {
  width: 100%;
  text-align: left;
}

.back-btn {
  position: relative;
  background-color: rgb(227, 227, 227);
  font-size: 80%;
  width: 20%;
  margin-top: 10px;
  padding: 5px 0;
  border: gray 1px solid;
  border-color: #111;
  border-radius: 100px;
  text-shadow: 1px 1px 0 #c9c9c9, 1px 1px 0 #c9c9c9;

  & a {
    color: #111;
    text-decoration: none;
    display: block;
  }
}

.btn-edit {
  width: 100%;
  text-align: right;

  &__edit  {
    position: relative;
    background-color: rgb(227, 227, 227);
    font-size: 80%;
    width: 20%;
    border: gray 1px solid;
    border-color: #111;
    border-radius: 100px;
    text-shadow: 1px 1px 0 #c9c9c9, 1px 1px 0 #c9c9c9;
  
    & a {
      color: #111;
      text-decoration: none;
      display: block;
    }
  }
}