<header class="header">
    <div class="header__logo">
      <%= link_to image_tag("SG_logo.png"), root_path ,class: "header__img"%>
    </div>
    <button class="mobile-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
</header>