<nav class="mobile-menu">
  <ul>
    <li>
      <%= image_tag "SG_logo.png" ,class: "mobile-menu__img"%>
    </li>
    <li>
      <%= link_to "ホーム", root_path %>
    </li>
    <li>
      <%= link_to "ユーザー", users_path %>
    </li>
    <li>
      <%= link_to "トレーニング", new_training_path %>
    </li>
  </ul>
</nav>